<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="folderPathToRead" value="C:\Users\admin-tt\Documents\elementum\Step1"/>
  <add key="folderPathToWrite" value="C:\Users\admin-tt\Documents\elementum"/>
  <add key="movedFiles" value="C:\Users\admin-tt\Documents\elementum\Done"/>
  <add key="exceptionFilePath" value="C:\Users\admin-tt\Documents\elementum\ExceptionLog.txt"/>

</appSettings>
</configuration>